<div class="container" id="container" [class.right-panel-active]="!loginActive">
    <div class="form-container sign-up-container">
      <form [formGroup]="registerForm">
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="#" class="social"><img src="./assets/images/social/facebook.svg" [width]="16" alt="FB"></a>
          <a href="#" class="social"><img src="./assets/images/social/google.svg" [width]="16" alt="Google"></a>
        </div>
        <span>or use your email for registration</span>
        <input formControlName="name" type="text" placeholder="Name"/>
        <input formControlName="phone" type="tel" placeholder="Phone"/>
        <input formControlName="email" type="email" placeholder="Email"/>
        <input formControlName="password" type="password" placeholder="Password"/>

<!--        <div class="terms">-->
<!--          <input id="privacy" formControlName="privacy" name="privacy" type="checkbox"/>-->
<!--          <label for="privacy" class="help-block"><span></span>{{'I agree to the' | translate}} <a-->
<!--            href="{{terms_url}}" target="_blank">{{'Terms of Use' | translate}}</a> {{'and' | translate}} <a-->
<!--            href="{{privacy_url}}" target="_blank">{{'Privacy Policy' | translate}}</a></label>-->
<!--        </div>-->
        <button>Sign Up</button>
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form [formGroup]="loginForm">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><img src="./assets/images/social/facebook.svg" [width]="16" alt="FB"></a>
          <a href="#" class="social"><img src="./assets/images/social/google.svg" [width]="16" alt="Google"></a>
        </div>
        <span>or use your account</span>
        <input formControlName="email" type="email" placeholder="Email"/>
        <input formControlName="password" type="password" placeholder="Password"/>
        <a href="#">Forgot your password?</a>
        <button>Sign In</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>
            To keep connected with us please login with your personal info
          </p>
          <button (click)="signInSubmit()" class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button (click)="signUpSubmit()" class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
